.searchBox {
  position: relative;

  button {
    line-height: 0;
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

.icon {
  width: fit-content;
  color: var(--bs-gray);
  transition: color 0.2s ease-in;

  &:hover {
    color: var(--bs-primary);
  }
}
