.box {
  padding: 1.5rem;
  border-radius: 6px;
  padding-bottom: 0.875rem;
  background: var(--bs-gray-100);

  svg {
    color: var(--bs-primary);
  }

  textarea {
    min-height: 140px;
  }

  select,
  textarea,
  input {
    background: var(--bs-gray-200);

    &:focus,
    &:hover {
      background: var(--bs-gray-200);
    }
  }
}
